<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой сайт{% endblock %}</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'index' %}">Мой магазин</a></h1>  <!-- Добавлен текст -->
        <nav>
            <a href="{% url 'create_category' %}">+ Создать категорию</a>
            <a href="{% url 'list_category' %}">Список категорий</a>
            <a href="{% url 'create_product' %}">+ Создать товар</a>
        </nav>
        <hr>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer><hr></footer>
</body>
</html>